@mixin flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-all-center {
    display: grid;
    justify-content: center;
    align-items: center;
}

@mixin function-container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin function-content-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin shadow {
    box-shadow: 0em 0.2em 0.4em rgb(0 0 0 / 28%);
}

@mixin light-gray-bg {
    background-color: $light-gray;
}

@mixin tablet-padding {
    padding: 20px 60px;
}

@mixin btn {
    display: inline-flex;
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 105%);
    @include shadow;
    position: relative;
    z-index: 1;
    padding: 13px;
    font-size: 13px;
    margin: 15px;
}

@mixin btnhover {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, lighten($primary-color, 5) 0%, lighten($secondary-color, 5) 105%);
    box-shadow: 0em 0.2em 0.6em rgb(0 0 0 / 28%);
    border-radius: 60px;
    opacity: 0;
    z-index: -1;
    transition: opacity 400ms cubic-bezier(.31,.69,.17,.87);
}