@import 'variable', 'main', 'mixin', 'animations';

/* Heading */
.heading {
    width: 100%;
    position: absolute;
    z-index: -1;
    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/* Menu */
.menu {
    background-color: $light-gray;
    width: 100%;
    position: relative;
    margin-top: 150px;
    border-radius: 30px 30px 0 0;
    &__container {
        width: 100%;
    }
}

.menu-container {
    width: 100%;
}

.menu-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 19px;
    &__name {
        font-family: "Shrikhand", serif;
    }
    .fa-heart {
        font-size: 20px;
        transition: 500ms cubic-bezier(.31,.69,.17,.87);
        &:hover {
            background: $gradient;
            background-clip: text;
            color: transparent;
            font-weight: 700;
            cursor: pointer;
        }
    }
}

.m-course {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 20px;
    &__title {
        text-transform: uppercase;
        font-size: 15px;
        span {
            text-decoration: underline $tertiary-color;
            text-underline-position: under;
            text-decoration-thickness: 0.1em;
        }
    }

    &:nth-child(2) {
        animation: fade-in-left 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    &:nth-child(3) {
        animation: fade-in-left 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation-delay: .2s;
    }
    &:nth-child(4) {
        animation: fade-in-left 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation-delay: .4s;
    }
}

.m-content {
    background-color: $white;
    @include grid-all-center;
    grid-template-areas:
        "mtitle mprice"
        "msub mprice";
    grid-template-columns: 4fr 0.5fr;
    grid-auto-rows: auto;
    grid-gap: 5px;
    padding: 10px;
    justify-items: start;
    box-shadow: 0em 0.2em 0.8em #0000002b;
    position: relative;
    overflow: hidden;
    &:hover {
        &::after {
            opacity: 1;
            transform: translateX(0px);
        }

        .m-price {
            margin-right: 70px;
        }
    }

    &::after {
        content: '\f058';
        font-family: FontAwesome;
        position: absolute;
        background-color: $tertiary-color;
        color: $white;
        font-size: 20px;
        padding: 21px;
        border-radius: 0 20px 20px 0;
        right: 0;
        top: 0;
        transform: translateX(62px);
        transition: 400ms ease-in-out;
    }
}

.m-title {
    grid-area: mtitle;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
}
  
.m-sub {
    grid-area: msub;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
}
  
.m-price {
    grid-area: mprice;
    font-size: 14px;
    align-self: end;
    justify-self: end;
    transition: 400ms ease-in-out;
}

.btn {
    @include btn;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        @include btnhover;
    }

    &--padding {
        padding: 13px 30px;
    }
}
