.center {
  text-align: center;
}

.margin-reset {
  margin: 0;
}

.font-bold {
  font-weight: 500;
}

.font-thin {
  font-weight: 300;
}

.font-white {
  color: #ffffff;
}

.no-decoration {
  text-decoration: none;
}

.round-border {
  border-radius: 20px;
}

.centered-img {
  object-position: center;
}

.bottom-img {
  object-position: bottom;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

/* Header */
.header {
  padding: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 0fr 0fr;
  position: relative;
  z-index: 2;
  box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.28);
}
.header__logo {
  width: 150px;
}

/*  Pour pages restaurants 
.header__return {
    color: $dark-gray;
    position: absolute;
}
*/
/* Section introduction et localisation */
.location {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  color: #353535;
  background-color: #eaeaea;
  box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.28);
  position: relative;
  z-index: 1;
}
.location a {
  color: #353535;
}

.intro {
  padding: 23px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
.btn {
  display: inline-flex;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 105%);
  box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.28);
  position: relative;
  z-index: 1;
  padding: 13px;
  font-size: 13px;
  margin: 15px;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #a16be0 0%, #ff93e1 105%);
  box-shadow: 0em 0.2em 0.6em rgba(0, 0, 0, 0.28);
  border-radius: 60px;
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms cubic-bezier(0.31, 0.69, 0.17, 0.87);
}

/* Section fonctionnement */
.site-functions {
  padding: 25px;
  margin-bottom: 50px;
}

.function-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 2.5vh;
}
.function-box__function {
  font-size: 14px;
  padding: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0em 0.2em 0.8em rgba(0, 0, 0, 0.168627451);
}
.function-box__function__icon {
  font-size: 17px;
  margin-left: 20px;
  margin-right: 15px;
  color: #7e7e7e;
}
.function-box__function__icon--purple {
  color: #9356DC;
}
.function-box__function__number {
  padding: 4px 9px;
  background-color: #9356DC;
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  position: absolute;
  left: 12px;
}

/* Section restaurants */
#section-restaurants {
  padding: 20px;
  background-color: #f6f6f6;
}

.restaurants-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 3vh;
}

.restaurant-card {
  background-color: #ffffff;
  border-radius: 10px;
  height: 210px;
  width: 100%;
  position: relative;
}
.restaurant-card__img {
  width: 100%;
  height: 62%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.new {
  background-color: #99E2D0;
  color: #008766;
  padding: 7px;
  font-size: 13px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 2px;
  box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.28);
}

/* Contenu restaurants */
.restaurant-content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: "r-name heart" "location heart";
  grid-template-columns: 4fr 0.5fr;
  grid-auto-rows: auto;
  grid-gap: 5px;
  padding: 10px;
}

.restaurant-name {
  grid-area: r-name;
  font-size: 12px;
}

.restaurant-location {
  grid-area: location;
}

.restaurant-heart {
  grid-area: heart;
  font-size: 19px;
}
.restaurant-heart .fa-heart {
  transition: 500ms cubic-bezier(0.31, 0.69, 0.17, 0.87);
}
.restaurant-heart .fa-heart:hover {
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 105%);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  cursor: pointer;
}

/* Footer */
.footer-container {
  background-color: #353535;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.6vh;
}
.footer-container__logo {
  font-family: "Shrikhand", serif;
  margin-bottom: 15px;
}
.footer-container__icon {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */