$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-gray: #353535;
$light-gray: #f3f3f3;

* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

.header {
    text-align: center;
    display: grid;
    grid-template-columns: 0fr 0fr;
    align-items: center;
    justify-content: center;
    padding: 50px;
    .header__return { /* Pour pages restaurants */
        font-size: 55px;
        color: $dark-gray;
        position: absolute;
    }
}

.location {
    @include flexbox-all-center;
    gap: 1.5vh;
    @include roboto-400;
    color: $dark-gray;
    font-size: 40px;
    background-color: #eaeaea;
}