$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-gray: #353535;
$light-gray: #f6f6f6;

 @mixin flexbox-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin gradient {
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 105%);
  }

* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.title {
    font-size: 55px;
}

.margin-reset {
    margin: 0;
}

/* Header */
.header {
    display: grid;
    grid-template-columns: 0fr 0fr;
    align-items: center;
    justify-content: center;
    padding: 50px;
    .header__return { /* Pour pages restaurants */
        font-size: 55px;
        color: $dark-gray;
        position: absolute;
    }
}

/* Section introduction et localisation */

.location {
    @include flexbox-all-center;
    gap: 1.5vh;
    font-weight: 500;
    color: $dark-gray;
    font-size: 36px;
    background-color: #eaeaea;
}

.introduction {
    background-color: $light-gray;
    padding: 100px;
    &__title {
        padding: 0 50px 0 50px;
    }
    &__content {
        font-size: 32px;
        font-weight: 300;
    }
    &__button {
        @include gradient;
        color: #ffffff;
        font-size: 35px;
        border: none;
        padding: 35px 45px 35px 45px;
        border-radius: 60px;
        margin: 50px;
    }
}