$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$tertiary-darker: #008766;
$dark-gray: #353535;
$light-gray: #f6f6f6;
$white: #ffffff;

$circle: 50% 50% 50% 50% / 50% 50% 50% 50%;